<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pathfinder X | Doru - Catalin</title>
    <link rel="icon" type="image/x-icon" href="~/Content/Images/favicon.ico" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jura&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">

    <script type="module" src="~/Scripts/Controller.js"></script>

    @Styles.Render("~/Content/Styles/Errors.css")
    @Styles.Render("~/Content/Styles/GeneralStyle.css")
    @Styles.Render("~/Content/Styles/Pathfinder.css")
</head>

<body oncontextmenu="return false;">
    @RenderBody()
</body>
</html>
