:root {
    --grid-columns: 1;
    --grid-rows: 1;
    --cell-size: 2;
    --left-menu-distance-left: -6rem;
    --grid-wall-left: -1px;
    --grid-wall-top: -1px;
    --start-end-node-left: 52%;
    --start-end-node-top: 52%;
    --grid-weight-left: 50%;

    --cell-border-width: 2px;
}

/* Grid Style */
.grid {
    display: grid;
    grid-gap: 0;
    grid-template-rows: repeat(var(--grid-rows), 2rem);
    grid-template-columns: repeat(var(--grid-columns), 2rem);
    z-index: -1;
    background: transparent;
    position: absolute;
    width: 75%;
    height: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -52.5%);
}

/* Cell Style */
.cell {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    box-sizing: border-box;
    border-top: 2px solid #010638;
    border-left: 2px solid #010638;
    border-right: 0;
    border-bottom: 0;
    display: inline-block;
}

/* =====================================   Grid Responsiveness   ===================================== */

@media only screen and (max-width: 600px) {
    .grid {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .grid {
        display: none;
    }
}

@media only screen and (min-width: 900px) {
    :root {
        --grid-wall-left: -1px;
        --grid-wall-top: -0.8px;
        --grid-weight-left: 52.5%;
    }
    .grid {
        display: grid;
        top: 54%;
        height: 76%;
        width: 76%;
        --cell-size: 1.8;
    }
}

@media only screen and (min-width: 1200px) {
    :root {
        --start-end-node-left: 52%;
        --start-end-node-top: 53.45%;
        --grid-wall-left: -0.5px;
        --grid-wall-top: -1px;
        --grid-weight-left: 53.2%;
    }
    .grid {
        top: 50%;
        width: 75%;
        height: 72%;
        --cell-size: 2;
    }
}

@media only screen and (min-width: 1900px) {
    :root {
        --cell-border-width: 4px;
        --grid-wall-left: -1.8px;
        --grid-wall-top: -1.5px;
        --start-end-node-left: 52.25%;
        --start-end-node-top: 52.25%;
        --grid-weight-left: 53%;
    }
    .grid {
        width: 75%;
        height: 70%;
        --cell-size: 3;
    }
    .cell {
        border-width: var(--cell-border-width);
    }
}

@media only screen and (min-width: 3000px) {
    :root {
        --cell-border-width: 4px;
        --grid-wall-top: -2px;
        --grid-weight-left: 52%;
    }
    .grid {
        width: 75%;
        height: 70%;
        --cell-size: 4;
    }
    .cell {
        border-width: var(--cell-border-width);
    }
}

/* ===================================== END Grid Responsiveness ===================================== */

.visited-node-icon {
    background-color: #1689FC;
    border-radius: 0;
}

.visited-node-legend-icon {
    background-color: #1689FC;
    width: 1.7rem;
    height: 1.7rem;
    padding: 0;
    border-radius: 0.2rem;
    display: inline-block;
    position: relative;
    left: 0;
    vertical-align: text-bottom;
}

.path-node-icon {
    background-color: #E67A14;
    border-radius: 2rem;
}

.path-node-legend-icon {
    background-color: #E67A14;
    width: 1.7rem;
    height: 1.7rem;
    padding: 0;
    border-radius: 0.2rem;
    display: inline-block;
    position: relative;
    left: 0;
    vertical-align: text-bottom;
}